/* color palette */

:root {
  --color-primary: #25D366; /*Buttons, CTA (Call-to-Action), Links, Highlights */
  --dark-background: #061a3d;
  --light-background: #f8f9fa;
  --text-color: #1be766;
  --accent-color: #ffc926;
  --odd-section: #f8f9fa;
  --even-section: #fff;
  --secondary-accent-color: #a5eaf3e5;
  --background-linear: linear-gradient(135deg, #25D366, #128C7E, #061a3d);
  --dark-green: #128C7E; /* Navbar, Footer, Header Background */
  --light-green: #DCF8C6; /* Hover Effects, Badges, Notifications Background */
  --dark-gray: #202C33; 	/* Headings, Subheadings, Important Text */
  --light-gray: #E9EDEF;	/* Background Sections, Cards, Forms */
  --white: #FFFFFF; /* Text on Dark Backgrounds, Icons, Cards Background */
  --black: #000000; 	/* Footer Text, Important Icons, Strong Contrast Elements */
  
  
  /* 1. Navbar
Background: #128C7E (Dark Green)
Text Color: #FFFFFF (White)
Hover Effect: #25D366 (Primary Green)
Navbar Buttons: #25D366 (Primary Green) with text #FFFFFF


2. Odd-Wise Section Background
Odd Sections Background: #E9EDEF (Light Gray)
Even Sections Background: #FFFFFF (White)


3. Entire Website Background
Main Background Color: #FFFFFF (White)


4. Headings & Text
Headings: #202C33 (Dark Gray)
Body Text: #000000 (Black)


5. Footer
Background: #128C7E (Dark Green)
Footer Links Color: #DCF8C6 (Light Green)
Footer Links Hover: #25D366 (Primary Green)
Footer Text: #FFFFFF (White) */


}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: var(--light-green);
}
::-webkit-scrollbar-thumb{
  background: var(--background-linear);
  border-radius: 20px;
}
